body {
    $font-family-monospace:SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


.barraMenu {

    background-color: #223026;
    width: 100%;

}

.barraMenu div a{
    color: white;

}
#navbarNavDropdown ul li a{
    color: white;
    font-size: 20px;

}

footer {
    position:relative;
    left:0px;
    bottom:0px;
    width: 100%;
}